/***************************/
/* VARIABLES */
/***************************/

.light-mode {
  --color-primary: #1a1a1a;
  --bg-primary: #fffbf5;
  --bg-text-color: #473126;
  --shadow-color: rgba(71, 49, 38, 0.15);
}

.dark-mode {
  --color-primary: #fff;
  --bg-primary: #1a1a1a;
  --bg-text-color: #ffffff;
  --shadow-color: rgba(71, 49, 38, 0.15);
}

html {
  --transition-speed: 0.5s;
  --transition: 
    color var(--transition-speed), 
    fill var(--transition-speed), 
    stroke var(--transition-speed), 
    background-color var(--transition-speed), 
    box-shadow var(--transition-speed);
}

/***************************/
/* MAIN */
/***************************/

*, body, div, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-drag: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-primary);
  transition: var(--transition);
  font-family: sofia-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  /* overscroll-behavior: none; */
}

img {
  width: 100%;
  border-radius: 1em;
}

h1, h2, h3, h4, h5, h6, p, a, ol, li {
  color: var(--color-primary);
  transition: var(--transition);
}

h2 {
  font-family: warnock-pro-display, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3.75em;
  line-height: 1em;
  text-align: center;
}

/* a.link {
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
} */

a.button {
  text-decoration: none;
  font-weight: 600;
  border-bottom: 1px solid var(--color-primary);
  padding-bottom: 3px;
  transition: all 0.1s ease-in-out;
}

a.button:hover {
  border-bottom: 3px solid var(--color-primary);
  padding-bottom: 5px;
}

.background-text {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.05;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: -1;
  margin-top: 0;
}

.background-text div {
  display: flex;
  justify-content: center;
}

.background-text span {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--bg-text-color);
  transition: var(--transition);
  text-align: center;
  font-size: 9em;
  user-select: none;
  line-height: 0.85em;
}

#projects {
  width: 100vw;
  height: 100%;
  height: calc(env(safe-area-inset-top) + env(safe-area-inset-bottom) + 100%);
  /* height: calc(var(--vh, 1vh) * 100);
  min-height: calc(var(--vh, 1vh) * 100);
  max-height: calc(var(--vh, 1vh) * 100); */
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
}
@media screen and (orientation: portrait) {
  #projects {
    min-height: -webkit-fill-available;
    max-height: -webkit-fill-available;
  }
}
@media screen and (orientation: landscape) {
  #projects {
    min-height: 100%;
    max-height: 100%;
  }
}

.featured-project {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 700px;
  /* border: red solid 2px; */
}

.dummy-project {
  position: relative;
  width: 100%;
  height: 15%;
}

/* .featured-project.first {
  border: red 3px solid;
}
.featured-project.second {
  border: green 3px solid;
} */

p.kicker {
  top: 36%;
}

p.subheading,
p.kicker {
  text-align: center;
  font-weight: 700;
  text-transform: lowercase;
}

.page {
  padding-top: 5em;
}

.page p,
.project-content p {
  margin-bottom: 1.2em;
}

.project-header {
  line-height: 1em;
}

.ghost-container, 
.ghost-wrapper,
.project-header,
.kicker {
  width: 50vw;
  height: 40vw;
  max-width: 500px;
  max-height: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.project-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.ghost-container,
.frame {
  z-index: 2;
  border: 10px solid white;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0px 8px 30px var(--shadow-color);
  transition: var(--transition);
}

.project-title-1,
.project-title-2,
.kicker {
  margin-top: -0.25em;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* .project-title-2 {
  width: 100%;
  position: absolute;
  line-height: 1;
  z-index: 2;
} */

.container {
  /* max-width: 700px; */
  width: 90%;
  margin: auto;
  margin-bottom: 5rem;
}

.kicker,
.project-titles,
.ghost-container,
.ghost-wrapper {
  will-change: transform;
}

/***** MOBILE AND TABLET *****/
@media only screen and (max-width: 800px) {
  .background-text span {
    font-size: 5em;
  }
  h2 {
    font-size: 3em;
  }
  .ghost-container, 
  .ghost-wrapper,
  .project-header,
  .kicker {
    width: 60vw;
    height: 50vw;
  }
}

@media only screen and (max-width: 525px) {
  .background-text span {
    font-size: 3em;
  }
  h2 {
    font-size: 2.5em;
  }
  .ghost-container, 
  .ghost-wrapper,
  .project-header,
  .kicker {
    width: 80vw;
    height: 70vw;
  }
}

/* HEIGHT */
@media only screen and (max-height: 600px) {
  h2 {
    font-size: 2em;
  }
  p.kicker {
    top: 33%;
  }
  .ghost-container, 
  .ghost-wrapper,
  .project-header,
  .kicker {
    width: 70vh;
    height: 60vh;
  }
}